/* Form Styling */
#fs-frm {
  justify-content: center;
  align-items: center;
  min-height: 600px;
  width: 100%;
}

#fs-frm button,
fieldset {
  border: 0;
  font-size: 16px;
  color: var(--white);
}

#fs-frm button {
  display: block;
  margin: auto;
  background-color: var(--white);
  color: var(--black);
  padding: 5px;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

#fs-frm button:hover {
  color: var(--white);
  background-color: var(--pink);
}

#fs-frm-inputs label {
  margin-bottom: 5px;
}

#fs-frm-inputs input {
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
}

#fs-frm-inputs label,
#fs-frm-inputs input {
  display: block;
  /* border: 0; */
}

#fs-frm-inputs input::placeholder,
#fs-frm-inputs textarea::placeholder {
  color: var(--white);
}

#full-name {
  background-color: var(--black);
  border: 1px solid var(--blue);
}

#email-address {
  background-color: var(--black);
  border: 1px solid var(--pink);
}

#message {
  background-color: var(--black);
  border: 1px solid var(--mint);
}

#fs-frm-inputs input,
#fs-frm-inputs textarea {
  width: 100%;
  padding: 10px;
}

@media all and (min-width: 1300px) {
  .contact-section {
    padding: 0 35% 0 35%;
  }
}

@media all and (min-width: 1024px) {
  .contact-section {
    padding: 0 30% 0 30%;
  }
}

@media all and (min-width: 769px) and (max-width: 1023px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
}

@media all and (max-width: 480px) {
}
