/* mouse over link */
h2:hover {
  color: var(--blue);
}

.notfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.projectsection,
.pagetext,
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 15px;
}

.projectsection {
  margin-top: 35px;
}

.circleimage {
  max-width: 350px;
}

@media all and (min-width: 1450px) {
  .pagetext {
    margin-left: 20%;
    margin-right: 20%;
  }
}
@media all and (min-width: 1281px) and (max-width: 1449px) {
  .pagetext {
    margin-left: 300px;
    margin-right: 300px;
  }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .pagetext {
    margin-left: 200px;
    margin-right: 200px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
}

@media all and (min-width: 480px) and (max-width: 768px) {
  /* .container {
    visibility: hidden;
  } */
}

@media all and (max-width: 480px) {
}
