header {
  display: grid;
  grid-template-areas:
    ".       top .      "
    ".       mid .      "
    "bottoml .   bottomr";
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  background-color: var(--black);
  min-height: 10vh;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #fff;
  justify-content: space-around;
  align-items: center;
}

h1 {
  color: white;
}

#headingname {
  grid-area: mid;
}

#linkedin {
  grid-area: bottoml;
  justify-self: start;
}

#github {
  grid-area: bottomr;
  justify-self: end;
}

#github,
#linkedin {
  max-width: 40px;
  padding: 6px;
}

@media (min-width: 769px) {
  /* Repositioning the items in Header */
  header {
    display: grid;
    grid-template-areas:
      ". . top ."
      ". . mid ."
      "bottomll bottomlr . bottomr";
    grid-template-columns: 0.25fr 0.25fr 1fr 0.5fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
  }

  #linkedin {
    grid-area: bottomll;
    justify-self: start;
  }

  #github {
    grid-area: bottomll;
    justify-self: center;
  }
}
