/* Root colours */
:root {
  --black: #020202;
  --blue: #6b9ac4;
  --mint: #97d8c4;
  --purple: #782ab6;
  --pink: #cf30ac;
  --white: #fff;
}

/* CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
input,
textarea {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Inder", Tahoma, sans-serif;
  color: var(--white);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Links */
a {
  text-decoration: none;
  color: var(--white);
}

/* mouse over link */
a:hover {
  color: var(--pink);
}

/* selected link */
a:active {
  color: var(--blue);
}

.projectlink {
  color: var(--purple);
  font-weight: 800;
}

/* Body Styling */
body {
  width: auto;
  height: auto;
}
